<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Footer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <footer id="static-footer">
      <div class="text-center">
        <p id="kontak-kami">KONTAK KAMI</p>
        <div class="d-flex justify-content-center">
          <a href="https://www.facebook.com/">
            <i class="fa fa-facebook icon-hyperlink"></i>
          </a>
          <a href="https://www.instagram.com/">
            <i class="fa fa-instagram icon-hyperlink"></i>
          </a>
          <a href="https://twitter.com/">
            <i class="fa fa-twitter icon-hyperlink"></i>
          </a>
          <a href="https://www.linkedin.com/">
            <i class="fa fa-linkedin icon-hyperlink"></i>
          </a>
          <a href="https://www.pinterest.com/">
            <i class="fa fa-pinterest icon-hyperlink"></i>
          </a>
        </div>
        <br />
        <p>Copyright &#169; 2023 | ChildLearn.com</p>
        <p>Rapidiously monetize just in Theme. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
