<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>ChildLearn - Mengunggah Jawaban</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <link rel="stylesheet" th:href="@{/css/file-upload.css}" />
    <link rel="stylesheet" th:href="@{/css/general-button.css}" />
    <style>
      footer {
        padding-top: 0;
        margin-top: 0;
      }
    </style>
  </head>
  <body onload="bodyOnLoad('ASW-01')">
    <header
      th:if="${userDetail.role} eq 'STUDENT'"
      th:insert="~{@{fragments/header-ortu.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'TEACHER'"
      th:insert="~{@{fragments/header-guru.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'HEADMASTER'"
      th:insert="~{@{fragments/header-kepsek.html}}"
    ></header>

    <form
      id="submission-form"
      onsubmit="triggerModal(event, 'i')"
      th:object="${answerSheetRequestDto}"
      method="post"
      enctype="multipart/form-data"
      th:action="@{/answer-sheet/add}"
    >
      <div>
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <h1 class="heading-section">UNGGAH JAWABAN</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="mb-3 padding-form">
            <label for="subjectName" class="input-label">MATA PELAJARAN</label>
            <input
              type="text"
              class="form-control"
              id="subjectName"
              th:value="${subjectName}"
              disabled
            />
          </div>
          <div class="mb-3 padding-form">
            <label for="className" class="input-label">KELAS</label>
            <input
              type="text"
              class="form-control"
              id="className"
              th:value="${className}"
              disabled
            />
          </div>
          <div class="mb-3 padding-form">
            <label for="deadline" class="input-label">TENGGAT WAKTU</label>
            <input
              type="text"
              class="form-control"
              id="deadline"
              th:value="${deadline}"
              disabled
            />
          </div>
        </div>
      </div>
      <br />
      <!-- Reusable! -->
      <div id="bottom-green">
        <div class="container-file-upload">
          <div class="uploader">
            <p class="center">UNGGAH FILE</p>
            <label class="upload-ifc" for="file-pdf">
              <img id="upload-cloud" src="/images/upload-cloud.png" alt="" />
            </label>
            <input
              type="file"
              class="form-control"
              name="file-pdf"
              id="file-pdf"
              accept="application/pdf"
              th:field="*{file}"
              onchange="uploadFilePdf()"
            />
            <div class="center">
              <progress
                id="progressBar"
                value="0"
                max="100"
                style="width: 300px"
              ></progress>
            </div>
          </div>
          <div class="uploaded">
            <p class="center">FILE YANG TERUNGGAH</p>
            <p id="uploaded-file-details"></p>
            <p id="loaded_n_total"></p>
          </div>
        </div>
        <input type="hidden" th:field="*{assignmentId}" />
        <div
          class="alert alert-danger"
          style="margin-left: 7.8vw; margin-right: 7.8vw"
          th:if="${#fields.hasErrors('file')}"
          th:errors="*{file}"
        ></div>
        <br />
        <button type="submit" class="btn extra-margin-b btn-add-white center">
          TAMBAH
        </button>
      </div>
      <!-- -->
    </form>
    <footer th:insert="~{@{fragments/footer.html}}"></footer>
    <div class="modal" role="dialog" id="action-modal-container"></div>

    <!-- JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/const-modal.js}"></script>
    <script th:src="@{/js/progress-bar.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/global-action.js}"></script>
  </body>
</html>
