<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ChildLearn - Detail Laporan Murid</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <link rel="stylesheet" th:href="@{/css/file-upload.css}" />
    <link rel="stylesheet" th:href="@{/css/general-button.css}" />
    <link rel="stylesheet" th:href="@{/css/input-star.css}" />
  </head>
  <body>
    <header
      th:if="${userDetail.role} eq 'STUDENT'"
      th:insert="~{@{fragments/header-ortu.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'TEACHER'"
      th:insert="~{@{fragments/header-guru.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'HEADMASTER'"
      th:insert="~{@{fragments/header-kepsek.html}}"
    ></header>
    <form
      id="submission-form"
      onsubmit="triggerModal(event, 'i')"
      th:object="${reportDetailRequestDto}"
      method="post"
      enctype="multipart/form-data"
      th:action="@{'/report/detail/add/' + ${studentId} + '/' + ${reportHeaderId} + '/' + ${subjectId} + '/' + ${rtdBase64}}"
    >
      <div>
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="heading-section">MENAMBAHKAN LAPORAN MURID</h2>
          </div>
          <br />
        </div>
        <div class="row justify-content-center">
          <div class="mb-3 padding-form">
            <label for="subjectName" class="input-label">MATA PELAJARAN</label>
            <input
              type="text"
              class="form-control"
              id="subjectName"
              th:field="*{subjectName}"
              readonly
            />
          </div>
          <div class="mb-3 padding-form">
            <label for="notes" class="input-label">CATATAN</label>
            <textarea
              class="form-textarea form-control"
              id="notes"
              th:field="*{notes}"
            ></textarea>
            <div
              class="alert alert-danger"
              th:if="${#fields.hasErrors('notes')}"
              th:errors="*{notes}"
            ></div>
          </div>
          <div class="mb-3 padding-form">
            <div class="input-label">NILAI</div>
            <div class="stars">
              <input
                class="star star-5"
                th:field="*{score}"
                th:value="5"
                id="star-5"
                type="radio"
                name="star"
              />
              <label class="star star-5" for="star-5"></label>
              <input
                class="star star-4"
                th:field="*{score}"
                th:value="4"
                id="star-4"
                type="radio"
                name="star"
              />
              <label class="star star-4" for="star-4"></label>
              <input
                class="star star-3"
                th:field="*{score}"
                th:value="3"
                id="star-3"
                type="radio"
                name="star"
              />
              <label class="star star-3" for="star-3"></label>
              <input
                class="star star-2"
                th:field="*{score}"
                th:value="2"
                id="star-2"
                type="radio"
                name="star"
              />
              <label class="star star-2" for="star-2"></label>
              <input
                class="star star-1"
                th:field="*{score}"
                th:value="1"
                id="star-1"
                type="radio"
                name="star"
              />
              <label class="star star-1" for="star-1"></label>
            </div>
            <div
              class="alert alert-danger"
              th:if="${#fields.hasErrors('score')}"
              th:errors="*{score}"
            ></div>
          </div>
        </div>
      </div>
      <div id="bottom-green">
        <div class="container-file-upload">
          <div class="uploader">
            <p class="center">UNGGAH FILE</p>
            <label class="upload-ifc" for="file-image">
              <img id="upload-cloud" src="/images/upload-cloud.png" alt="" />
            </label>
            <input
              type="file"
              class="form-control"
              id="file-image"
              accept="image/png, image/jpeg"
              th:field="*{file}"
              onchange="uploadFile()"
            />
            <div class="center">
              <progress
                id="progressBar"
                value="0"
                max="100"
                style="width: 300px"
              ></progress>
            </div>
          </div>
          <div class="uploaded">
            <p class="center">FILE YANG TERUNGGAH</p>
            <p id="uploaded-file-details"></p>
            <p id="loaded_n_total"></p>
            <div
              class="alert alert-danger"
              style="margin-left: 7.8vw; margin-right: 7.8vw"
              th:if="${#fields.hasErrors('file')}"
              th:errors="*{file}"
            ></div>
          </div>
        </div>
        <input type="hidden" th:field="*{subjectId}" />
        <input type="hidden" th:field="*{studentId}" />
        <input type="hidden" th:field="*{reportHeaderId}" />
        <br />
        <button type="submit" class="btn mb-5 btn-add-white center">
          TAMBAH
        </button>
      </div>
    </form>
    <footer th:insert="~{@{fragments/footer.html}}"></footer>
    <div class="modal" role="dialog" id="action-modal-container"></div>

    <!-- JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/const-modal.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/progress-bar.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/global-action.js}"></script>
    <script th:inline="javascript">
      var status = /*[[${message}]]*/ "";
      console.log(status);
      if (
        status != undefined &&
        status != null &&
        status != "" &&
        status != "null"
      ) {
        showModal(status);
      }
    </script>
  </body>
</html>
