<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ChildLearn - Menambahkan Berita</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <link rel="stylesheet" th:href="@{/css/file-upload.css}" />
    <link rel="stylesheet" th:href="@{/css/general-button.css}" />
  </head>
  <body>
    <header
      th:if="${userDetail.role} eq 'STUDENT'"
      th:insert="~{@{fragments/header-ortu.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'TEACHER'"
      th:insert="~{@{fragments/header-guru.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'HEADMASTER'"
      th:insert="~{@{fragments/header-kepsek.html}}"
    ></header>
    <form
      id="submission-form"
      onsubmit="triggerModal(event, 'i')"
      th:object="${newsletterRequestDto}"
      method="post"
      enctype="multipart/form-data"
      th:action="@{/newsletter/add}"
    >
      <div>
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="heading-section">MENAMBAHKAN BERITA</h2>
          </div>
        </div>
        <p th:text="${errorMessage}"></p>
        <div class="row justify-content-center">
          <div class="mb-3 padding-form">
            <label for="title" class="input-label">JUDUL</label>
            <input
              type="text"
              class="form-control"
              id="title"
              th:field="*{title}"
            />
            <div
              class="alert alert-danger"
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
            ></div>
          </div>
          <div class="mb-3 padding-form">
            <label for="activityDate" class="input-label"
              >TANGGAL KEGIATAN</label
            >
            <input
              type="date"
              style="height: auto"
              class="form-control"
              id="activityDate"
              th:field="*{activityDate}"
            />
            <div
              class="alert alert-danger"
              th:if="${#fields.hasErrors('activityDate')}"
              th:errors="*{activityDate}"
            ></div>
          </div>
        </div>
      </div>
      <div id="bottom-green">
        <div class="container-file-upload">
          <div class="uploader">
            <p class="center">UNGGAH FILE</p>
            <label class="upload-ifc" for="file-image">
              <img id="upload-cloud" src="/images/upload-cloud.png" alt="" />
            </label>
            <input
              type="file"
              class="form-control"
              name="file-image"
              id="file-image"
              accept="image/png, image/jpeg"
              th:field="*{file}"
              onchange="uploadFile()"
            />
            <div class="center">
              <progress
                id="progressBar"
                value="0"
                max="100"
                style="width: 300px"
              ></progress>
            </div>
          </div>
          <div class="uploaded">
            <p class="center">FILE YANG TERUNGGAH</p>
            <p id="uploaded-file-details"></p>
            <p id="loaded_n_total"></p>
          </div>
        </div>
        <div
          class="alert alert-danger"
          style="margin-left: 7.8vw; margin-right: 7.8vw"
          th:if="${#fields.hasErrors('file')}"
          th:errors="*{file}"
        ></div>
        <br />
        <button type="submit" class="btn extra-margin-b btn-add-white center">
          TAMBAH
        </button>
      </div>
    </form>
    <footer th:insert="~{@{fragments/footer.html}}"></footer>
    <div class="modal" role="dialog" id="action-modal-container"></div>

    <!-- JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/const-modal.js}"></script>
    <script th:src="@{/js/progress-bar.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/global-action.js}"></script>
    <script th:inline="javascript">
      var status = /*[[${message}]]*/ "";
      console.log(status);
      if (
        status != undefined &&
        status != null &&
        status != "" &&
        status != "null"
      ) {
        showModal(status);
      }
    </script>
  </body>
</html>
