<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ChildLearn - Struktur Sekolah</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <link rel="stylesheet" th:href="@{/css/grid-display.css}" />
  </head>
  <body>
    <header
      th:if="${userDetail.role} eq 'STUDENT'"
      th:insert="~{@{fragments/header-ortu.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'TEACHER'"
      th:insert="~{@{fragments/header-guru.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'HEADMASTER'"
      th:insert="~{@{fragments/header-kepsek.html}}"
    ></header>
    <div class="row justify-content-center extra-margin-b">
      <div class="col-md-6 text-center">
        <h2 class="heading-section">LAPORAN MINGGUAN</h2>
      </div>
    </div>
    <div class="data-not-found" th:if="${#lists.isEmpty(students)}">
      <h3>DATA TIDAK DITEMUKAN</h3>
      <br>
      <img id="not-found-image" th:src="@{/images/empty-box.png}" alt="Empty Box Image">
    </div>
    <div class="nx4-grid-container padding-form jc-space-evenly" th:unless="${#lists.isEmpty(students)}">
      <div class="person-grid-item" th:each="student : ${students}">
        <a th:href="@{'/report?studentId=' + ${student.id}}"
          ><img
            class="round-person-img undraggable"
            th:src="@{'data:image/jpeg;base64,' + ${student.base64}}"
            alt=""
        /></a>
        <div th:text="${student.fullName}"></div>
      </div>
    </div>
    <footer th:insert="~{@{fragments/footer.html}}"></footer>
    <div class="modal" role="dialog" id="action-modal-container"></div>

    <!-- JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/const-modal.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/global-action.js}"></script>
  </body>
</html>
