<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Child - Mengelola Materi Pembelajaran</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <style>
      .mapel,
      .kelas {
        width: 40%;
        display: grid;
        grid-template-columns: 30% 3% auto;
      }

      #mapel_kelas_add-btn {
        position: relative;
        margin-bottom: 10px;
      }

      .btn-tambah {
        margin-top: 25px;
      }
    </style>
  </head>
  <body>
    <header
      th:if="${userDetail.role} eq 'STUDENT'"
      th:insert="~{@{fragments/header-ortu.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'TEACHER'"
      th:insert="~{@{fragments/header-guru.html}}"
    ></header>
    <header
      th:if="${userDetail.role} eq 'HEADMASTER'"
      th:insert="~{@{fragments/header-kepsek.html}}"
    ></header>

    <div class="form-group text-center">
      <h1 class="heading-section">Materi Pembelajaran</h1>
    </div>
    <br />
    <div id="mapel_kelas_add-btn">
      <div class="mapel">
        <h3>Mata Pelajaran</h3>
        <h3>:</h3>
        <h3 th:text="${subjectName}"></h3>
      </div>
      <div th:if="${userDetail.role} eq 'TEACHER'" class="kelas">
        <h3>Kelas</h3>
        <h3>:</h3>
        <h3 th:text="${className}"></h3>
      </div>
      <a
        class="btn btn-outline-success btn-lg btn-tambah"
        th:if="${userDetail.role} eq 'TEACHER'"
        th:href="@{'/material/add'}"
        >Tambah Materi Pembelajaran
      </a>
    </div>

    <div class="data-not-found" th:if="${#lists.isEmpty(materials)}">
      <h3>DATA TIDAK DITEMUKAN</h3>
      <br>
      <img id="not-found-image" th:src="@{/images/empty-box.png}" alt="Empty Box Image">
    </div>

    <div class="container" th:unless="${#lists.isEmpty(materials)}">
      <table class="table adjust-table">
        <thead>
          <tr>
            <th class="header-table-id">No</th>
            <th class="header-table-name">Nama</th>
            <th class="header-table-action">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="material : ${materials}">
            <td class="table-id" th:text="${materialStat.index}+1"></td>
            <td class="table-name" th:text="${material.title}"></td>
            <td class="table-action">
              <a
                href=""
                class="btn btn-success"
                th:href="@{'/material/get/' + ${material.id}}"
                >Unduh</a
              >
              <a
                href=""
                class="btn btn-danger"
                th:if="${userDetail.role} eq 'TEACHER'"
                data-toggle="modal"
                data-target="#action-modal-container"
                onclick="modalDelete(event)"
                th:data-href="@{'/material/delete?materialId=' + ${material.id} + '&subjectId=' + ${material.subjectId}}"
                >Hapus</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer th:insert="~{@{fragments/footer.html}}"></footer>
    <div class="modal" role="dialog" id="action-modal-container"></div>
  </body>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/const-modal.js}"></script>
  <script th:src="@{/js/popper.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/global-action.js}"></script>
  <script>
    $(document).ready(function () {
      l = $("thead")[0].getBoundingClientRect().left;
      $("#mapel_kelas_add-btn").css("left", `${l}px`);
    });
  </script>
  <script th:inline="javascript">
    var status = /*[[${message}]]*/ "";
    console.log(status);
    if (
      status != undefined &&
      status != null &&
      status != "" &&
      status != "null"
    ) {
      showModal(status);
    }
  </script>
</html>
